<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <img src="/assets/images/eurovision.png" alt="Eurovision logo">
  </div>
  <br />
  <!-- Button to go back to welcome page -->
  <div class="row justify-content-center text-center">
    <button type="button" class="btn btn-primary" [routerLink]="['/']">Back</button>
  </div>
  <!-- Cities table -->
  <div class="row">
    <h1>Cities</h1>
  </div>
  <div class="row">
    <table mat-table [dataSource]="cities" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <!-- Paginator -->
  <div class="row">
    <mat-paginator [length]="totalElements" [pageSize]="itemsByPage" [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
