<div class="container-fluid">
  <br />
  <div class="row justify-content-center text-center">
    <h1>Welcome to Eurovision Services</h1>
  </div>
  <div class="row justify-content-center text-center">
    <img src="/assets/images/eurovision.png" alt="Eurovision logo">
  </div>
  <br />
  <!-- Button to navigate to cities page -->
  <div class="row justify-content-center text-center">
    <button type="button" class="btn btn-primary" [routerLink]="['/cities']">List of cities</button>
  </div>
</div>
